In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [2]:
path = "/content/drive/MyDrive/Linear Regression - IA/decision_tree.csv"
df   = pd.read_csv(path)

In [5]:
df[0:6]

  company                  job     degree  salary
0  google      sales executive  bachelors       0
1  google      sales executive    masters       0
2  google     business manager  bachelors       1
3  google     business manager    masters       1
4  google  computer programmer  bachelors       0
5  google  computer programmer    masters       1

In [6]:
input  = df.drop("salary", axis="columns")
target = df["salary"]

In [11]:
labelCompany = LabelEncoder()
labelJob     = LabelEncoder()
labelDegree  = LabelEncoder()

input["company_label"] = labelCompany.fit_transform(input["company"])
input["job_label"]     = labelCompany.fit_transform(input["job"])
input["degree_label"]  = labelCompany.fit_transform(input["degree"])

In [12]:
input.head()

,company,job,degree,company_label,job_label,degree_label
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0

# Decision Tree

In [16]:
model = tree.DecisionTreeClassifier()
model.fit(input[["company_label", "job_label", "degree_label"]], target)

DecisionTreeClassifier()

In [17]:
# Sumário

# ABC Pharma = 0
# Facebook = 1
# Google = 2

# Business Manager = 0
# Computer Programmer = 1
# Sales Executive = 2

# Bachelors = 0
# Masters = 1

In [18]:
new_professional = pd.DataFrame([[1, 1, 1]], columns = ["company_label", "job_label", "degree_label"])
model.predict(new_professional)

array([1])

In [19]:
new_professional = pd.DataFrame([[2, 2, 2]], columns = ["company_label", "job_label", "degree_label"])
model.predict(new_professional)

array([0])