In [ ]:
!pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [ ]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model
from word2number import w2n

In [ ]:
path = "/content/drive/MyDrive/Linear Regression - IA/candidatos.csv"
dataframe = pd.read_csv(path)

In [ ]:
dataframe

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000
8        one         6.0                6   40000

In [ ]:
def stringToNumber(str):
  try:
    num = w2n.word_to_num(str)
  except:
    num = float(str)
  finally: 
    return num

In [ ]:
dataframe["experience"] = dataframe["experience"].fillna(0)

In [ ]:
dataframe["experience"] = dataframe["experience"].apply(stringToNumber)

In [ ]:
dataframe["test_score"] = dataframe["test_score"].fillna(dataframe["test_score"].median())

In [ ]:
dataframe

   experience  test_score  interview_score  salary
0         0.0         8.0                9   50000
1         0.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         7.5                7   72000
7        11.0         7.0                8   80000
8         1.0         6.0                6   40000

# Linear Regression

In [ ]:
regression = linear_model.LinearRegression()
regression.fit(dataframe[["experience", "test_score", "interview_score"]], dataframe["salary"])

LinearRegression()

In [ ]:
regression.coef_

array([3003.24029784, 2519.99065383, 2450.87752556])

In [ ]:
new_professional = pd.DataFrame([[10, 10, 10]], columns = ["experience", "test_score", "interview_score"])
regression.predict(new_professional)

array([89201.49803157])